<template name="registrationSuccess">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
               <div class="pad_top--50 txt_center registration-success">
                    <h3 class="teamLabTwitter__subheading_h3_small "><span>{{newUser}}</span> has joined in Twitter.</h3>
                    <p class="teamLabTwitter__subheading_h3_small ">Please click on the log in button, log into twitter and tweet</p>
                    <button id="loginBtn" type="submit" class="btn bttn bttn--sky-blue pad_vert--10-imp pad_hori--50-imp mrgn_top--20">Log In</button>   
               </div>
                
            </div>
        </div>
    </div>    
</template>