.border_none {
    border: none;
	
	&--imp {
		border: none !important;
	}
}

.bg_none {
    background: none;
	
	&--imp {
		background: none !important;
	}
}

.outline_zero {
	outline: 0;
	
	&--imp {
		outline: 0 !important;
	}
}

.overlay{
	position: relative;
	
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);

		content: '';
	}
}

.bold_border_left{
	margin: 20px 0;
	
	padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
	
	border-left-color: map-deep-get($colors, "border", "sky_blue");
}