@font-face {
    font-family: 'AvenirNextLTProMedium';
    src: url('../../../fonts/AvenirNextLTProMedium.eot');
    src: url('../../../fonts/AvenirNextLTProMedium.eot') format('embedded-opentype'),
         url('../../../fonts/AvenirNextLTProMedium.woff2') format('woff2'),
         url('../../../fonts/AvenirNextLTProMedium.woff') format('woff'),
         url('../../../fonts/AvenirNextLTProMedium.ttf') format('truetype'),
         url('../../../fonts/AvenirNextLTProMedium.svg#AvenirNextLTProMedium') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../../../fonts/AvenirNextLTProRegular.eot');
    src: url('../../../fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
         url('../../../fonts/AvenirNextLTProRegular.woff2') format('woff2'),
         url('../../../fonts/AvenirNextLTProRegular.woff') format('woff'),
         url('../../../fonts/AvenirNextLTProRegular.ttf') format('truetype'),
         url('../../../fonts/AvenirNextLTProRegular.svg#AvenirNextLTProRegular') format('svg');
}

@font-face {
    font-family: 'AvenirNextLTProLight';
    src: url('../../../fonts/AvenirNextLTProLight.eot');
    src: url('../../../fonts/AvenirNextLTProLight.eot') format('embedded-opentype'),
         url('../../../fonts/AvenirNextLTProLight.woff2') format('woff2'),
         url('../../../fonts/AvenirNextLTProLight.woff') format('woff'),
         url('../../../fonts/AvenirNextLTProLight.ttf') format('truetype'),
         url('../../../fonts/AvenirNextLTProLight.svg#AvenirNextLTProLight') format('svg');
}

