<template name="navBar">
    <nav class="navbar navbar-default remove_mrgn--bottom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand pad_vert--0 pad_hori--20" href="{{homeUrl}}"><img src="{{absoluteURL}}/img/twitter-logo.png" alt="twitter logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{homeUrl}}" id="">Home</a></li>
            {{#if currentUser}}
              <li><a href="/search_user" id="find_friends">Find Friends</a></li>
              {{else}}
              <li><a href="/" id="">Registration</a></li>
            {{/if}}
            
            {{#if currentUser}}
              <li><a href="#" id="logout">Logout</a></li>
              {{else}}
              <li><a href="/login" id="">Login</a></li>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    
</template>